services:
  front-end:
    build:
      context: .
      dockerfile: ./fe-nuxt.Dockerfile
    restart: unless-stopped
    env_file:
      - path: ./.env
        required: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "3000:3000"
